<h1>Seja muito bem vindo, <%= @name %>!</h1>

<ul>
  <li>
    <strong>Ruby: </strong> 3.2.2
  </li>
  <li>
    <strong>Rails: </strong> 6.1.7.6
  </li>
  <li>
    <strong>Node: </strong> 16.3.0
  </li>
  <li>
    <strong>Yarn: </strong> 1.22.21
  </li>
  <li>
    <strong>Webpacker: </strong> 4.0
  </li>
  <li>
    <strong>psych: </strong> 3.0
  </li>
  <li>
    <strong>: </strong> 
  </li>
</ul>